:root {
  --space: 16px;
  --border-color: #ddd;
}

body {
  overflow: hidden;
  color: black;
}

.side section {

  & ul {
    list-style-type: none;
    padding-inline-start: 0;

    & li > a {
      color: #999;
      font-size: 14px;
      text-decoration: none;
    }
    & li > a:hover {
      color: black;
    }
  }
}

.layout {
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
"side_area head_lay"
"side_area main_lay"
"side_area foot_lay";
height: 100vh;
}

.layout > header {
  grid-area: head_lay;
  
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: var(--space);

  & h1 {
    font-size: 1.75rem;
    margin: 0;
    flex-grow: 1;
  }
}

.layout > main {
  grid-area: main_lay;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.layout > footer {
  grid-area: side_area foot_lay;
  border-top: 1px solid var(--border-color);
  background-color: #f0f0f0;
  padding: var(--space);
  grid-column: 1 / span 2;
  margin: 0;
}

.side {
  display: flex;
  justify-content: flex-start;
  grid-area: side_area;
  border-right: 1px solid var(--border-color);
  padding: var(--space);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

body {
  padding: 0px;
}
